extends ../layout

block content
  div.header
    include ../includes/title.jade
  div.content
    div.article
      if (article.isDark)
        div.title(style='background-image: url('+((article.backgroundImg)? "#{article.backgroundImg}":"../images/swirl_pattern.png")+'); color: white;')
          h3
            a(href='/articles/' + article._id) #{article.title}
          h3.edit-link
            a(href='/articles/' + article._id + '/edit') Edit
        div.excerpt
          p= article.excerpt
      else
        div.title(style='background-image: url('+((article.backgroundImg)? "#{article.backgroundImg}":"../images/swirl_pattern.png")+'); color: black;')
          h3
            a(href='/articles/' + article._id) #{article.title}
          h3.edit-link
            a(href='/articles/' + article._id + '/edit') Edit
        div.excerpt
          p= article.excerpt
